@mixin scrollbar-common() {
  overflow-y: auto;
  scrollbar-color: var(--tt-scrollbar-color) transparent;

  /* Firefox scrollbar */
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--tt-scrollbar-color);
  }
}
