body {
  margin: 0;
}

.container {
  display: flex;
  height: 100vh;
  user-select: none;

  .sidebar {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-right: 1px solid #eee;
    background: #f7f7f7;
  }
  .main {
    flex: 1;
    overflow: auto;
    background: #fefce8;

    .emptyState {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      color: #888;
      font-size: 16px;
    }
  }
}
